<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Plateforme CS2i</title>
        <link href="../Ressources/libs/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../Ressources/libs/css/theme-default.css" rel="stylesheet"/>
        <link href="../Ressources/libs/css/pace-theme-flash.css" rel="stylesheet"/>
        <link href="../Ressources/libs/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="../Ressources/libs/css/bootstrap-social.css" rel="stylesheet"/>
        <script src="../Ressources/libs/js/vendor/jquery.min.js"></script>
        <script src="../Ressources/libs/js/vendor/bootstrap.min.js"></script>
        <script src="../Ressources/libs/js/vendor/sammy.js"></script>
        <script src="../Ressources/libs/js/vendor/sammy.template.js"></script>
        <script src="../Ressources/libs/js/vendor/js.cookie.js"></script>
        <script src="../Ressources/libs/js/vendor/pace.js"></script>
        <script src="../Ressources/libs/js/vendor/jquery.form-validator.min.js"></script>
    </head>
    <body>
        <script src="../Ressources/js/main/app.js"></script>
        <script src="../Ressources/js/blocks/inscription.js"></script>
        <script src="../Ressources/js/blocks/accueil.js"></script>

        <header>
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/">CS2i</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#/">Accueil</a></li>
                            <li><a href="#/inscription">Inscription</a></li>                           
                        </ul>
                        <ul id="accessProfil" class="nav navbar-nav navbar-right" style="display: none;">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon profil <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="">Accéder à mon profil</a></li>
                                    <li><a href="">Modifier mon CV</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a id="btn_deconnexion" href="">Se déconnecter</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form id="formConnexion" class="navbar-form navbar-right">
                            <div class="form-group">
                                <input id="inputLogin" type="text" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <input id="inputPwd" type="password" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" id="btn_connexion" class="btn btn-success">Se connecter</button>
                            <a id="btn_google" class="btn btn-social-icon btn-google">
                                <i class="fa fa-google"></i>
                            </a>
                            <a id="btn_linkedin" class="btn btn-social-icon btn-linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <div id="app">
            <!-- block will be there  -->
        </div>
        <hr>
        <footer>
            <p>2016, CS2i Lorient.</p>
        </footer>
    </body>
</html>